:root {
  --primary_color: #fa7436;
  --primary_textcolor: #222222;
  --bgcolor_white: #fefcfb;
  --bgcolor_blue: #f7f8fc;
  --paragraphcolor: #666666;
}
* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-family: "volkhov", serif;
}
p {
  color: var(--paragraphcolor);
}
body {
  background: linear-gradient(
    var(--primary_color),
    #ea7742,
    var(--primary_color)
  );
}
section {
  padding: 28px 200px;
}
.bgtype__two {
  background-color: var(--bgcolor_blue);
}
span {
  color: var(--primary_color);
}
.main-container {
  margin: 50px;
  background-color: var(--bgcolor_white);
  border: 4px solid var(--bgcolor_white);
  border-radius: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 28px 12%;
}
.navbar--title {
  color: var(--primary_textcolor);
  font-weight: 500;
  font-family: "volkhov", serif;
}
.navbar--logo {
  display: flex;
  align-items: center;
  color: var(--primary_textcolor);
  font-family: "volkhov", serif;
  font-weight: 700;
  margin-left: -18px;
}
.navbar--elements {
  display: flex;
}
.navbar--elements a {
  color: var(--primary_textcolor);
  font-weight: 500;
  margin: 0 30px;
}

.navbar--buttons {
  display: flex;
  align-items: center;
}
.navbar--buttons a {
  margin: 0 25px 0 10px;
}
.login--button {
  color: #fd8d3a;
  font-size: 18px;
  font-weight: 400;
}
.signup--button {
  background-color: var(--primary_color);
  color: white;
  padding: 10px 30px;
  border-radius: 4px;
}
.container--one--items {
  display: flex;
  margin-top: 50px;
}
.container--one--leftitems h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.container--one--leftitems p {
  margin-bottom: 30px;
}
.container--one--leftbutton {
  color: var(--primary_color);
  border: 2px solid var(--primary_color);
  border-radius: 4px;
  background: transparent;
  padding: 10px 30px;
}
.container--one--dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border: 5px solid white;
  padding: 20px 40px;
  border-radius: 15px;
  font-size: 12px;
}
.container--one--dropdowns h3 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
.container--one--dropdowns img {
  margin-left: 5px;
}
.container--one--dropdowns button {
  font-size: 16px;
  background-color: var(--primary_color);
  color: white;
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
}

.container--two {
  background-color: var(--bgcolor_blue);
}
.container--two--topitems {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container--two--toptext {
  margin-top: 20px;
  padding-left: 50px;
  text-align: center;
}
.container--two--toptext p {
  margin-top: 10px;
  font-size: 12px;
}
.container--two--topvector {
  margin-top: 40px;
  margin-left: 40px;
}
.container--two--boxes {
  display: flex;
}
.container--two--boxes div {
  background-color: white;
  border: 2px solid var(--bgcolor_white);
  margin: 20px;
  padding: 40px;
}
.container--two--boxes h3 {
  color: var(--primary_textcolor);
}
.container--two--boxes img {
  margin-bottom: 30px;
}
.container--two--boxes p {
  margin-top: 10px;
  font-size: 12px;
}
.containeer--three {
  margin-top: 40px;
  text-align: center;
}
.containeer--three--toptexts h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}
.containeer--three--toptexts p {
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 30px;
}
.containeer--three--boxes {
  display: flex;
  justify-content: space-evenly;
}
.containeer--three--box {
  margin: 20px;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-top: 0px;
  border-radius: 8px;
}
.containeer--three--boxtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.containeer--three--boxtop h3 {
  color: var(--primary_textcolor);
  font-weight: 400;
  font-size: 24px;
}
.containeer--three--boxbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  font-size: 16px;
}
.containeer--three--buttons img {
  margin: 0px 10px;
}
#boxbottom--textlinethrough {
  text-decoration: line-through;
  margin: 10px;
}
#boxbottom--textdesign {
  background-color: #ffe7db;
  color: var(--primary_color);
  padding: 4px;
  border-radius: 4px;
}
.container--four {
  margin-top: 40px;
  text-align: center;
}
.container--four--topitems {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container--four--topitems h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}
.container--four--topitems p {
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 30px;
}
.container--four--topitems img {
  margin-left: 30px;
  padding-bottom: 50px;
}
.container--four--buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}
.container--four--buttons img {
  margin-left: 20px;
}
.container--four--bottomitems {
  display: flex;
  justify-content: space-evenly;
}
.container--four--boxes {
  margin: 20px;
  border: 1px solid #e5e5e5;
  border-top: 0px;
  border-radius: 8px;
}
.container--four--boxtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.container--four--boxtop h3 {
  font-weight: 500;
  font-size: 20px;
}
.container--four--boxbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  font-size: 14px;
}
.container--four--boxbottom img {
  margin: 0px 10px;
}

section:nth-child(5) {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}
.container--five--leftitems {
  text-align: left;
  margin: 100px 80px 80px 0px;
}
.container--five--leftitems p {
  margin-top: 30px;
  font-size: 12px;
  margin-bottom: 30px;
}
.container--five--buttons img {
  margin-right: 20px;
}
.container--five--rightitems {
  display: flex;
  margin-top: 50px;
}
.right--stack--three {
  position: relative;
  z-index: 3;
  top: 70px;
}
.right--stack--two {
  position: relative;
  z-index: 2;
  margin: 40px;
  background-color: white;
  border: 1px solid #e5e5e5;
  padding: 20px;
  border-radius: 8px;
  padding-right: 40px;
}
.container--five--right--stacks p {
  font-size: 12px;
  margin-bottom: 10px;
}

.container--five--right--stacks h3 {
  font-size: 18px;
}
.right--stack--one {
  position: relative;
  z-index: 1;
  bottom: 150px;
  left: 30px;
  margin: 40px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  padding: 20px;
  border-radius: 8px;
}
.container--five--vector {
  position: relative;
  right: 40px;
}

.container--six {
  margin-top: 40px;
  padding: 28px 12%;
  text-align: center;
  background-color: var(--bgcolor_white);
  margin-bottom: 250px;
}
.container--six h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}
.container--six--boxs {
  display: flex;
}
.container--six--box {
  margin: 20px;
  text-align: left;
}
.container--six--box h4 {
  color: var(--primary_textcolor);
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0px;
}

.container--six--box p {
  font-size: 12px;
  margin-bottom: 10px;
}

.container--six--dotslides {
  font-size: 50px;
  color: #e5e5e5;
  margin-bottom: 50px;
}
.container--six--dotslides span {
  font-size: 60px;
}
footer {
  padding: 28px 12%;
  text-align: center;
  background-color: var(--bgcolor_blue);
}
.contanier--seven--card {
  background-color: var(--primary_color);
  text-align: center;
  border-radius: 16px;
}
.contanier--seven--card h1 {
  color: white;
  position: relative;
  padding-top: 50px;
}
#contanier--seven--card--vector {
  position: relative;
  left: 420px;
  bottom: 120px;
}
.contanier--seven--card span {
  display: block;
  color: white;
}
.contanier--seven--card--mailbox {
  position: relative;
  z-index: 2;
}
.contanier--seven--card--mailbox input {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 300px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 0px;
}

.contanier--seven--card--mailbox img {
  position: relative;
  left: 40px;
  top: 3px;
}
.contanier--seven--card--mailbox button {
  font-size: 16px;
  background-color: var(--primary_color);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  position: relative;
  right: 130px;
}
#contanier--seven--card--mailbox--vector {
  position: relative;
  right: 250px;
  bottom: 200px;
  margin-bottom: -205px;
}
.contanier--seven--card {
  position: relative;
  bottom: 280px;
}

.contanier--seven--bottom {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
}
.contanier--seven--bottom--right {
  display: flex;
}
.contanier--seven--bottom--title {
  padding-bottom: 50px;
  text-align: left;
}
.contanier--seven--bottom--title h2 {
  font-family: "Volkhov", serif;
  margin-bottom: 20px;
  color: var(--primary_textcolor);
}
.contanier--seven--bottom--title img {
  margin-left: 10px;
}
.contanier--seven p {
  font-size: 12px;
  margin-bottom: 10px;
}
.contanier--seven--bottom--info {
  margin-left: 60px;
}
.contanier--seven--bottom--info h3 {
  margin-bottom: 20px;
  color: var(--primary_textcolor);
}
.contanier--seven--bottom--terms {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
